<left-template>

    
        <div class="content">
            <form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start">
    
                <button pButton type="button" [routerLink]="'/modulo/programa'" class="btn btn-link btn-round no-border base-action" icon="fa fa-save"
                    label="List">
    
                </button>
                <button pButton type="button" [routerLink]="'/modulo/programa/form'" class="btn btn-link btn-round no-border base-action"
                    icon="fa fa-save" label="Form">
    
                </button>
            </form>
        </div>
    
    </left-template>