
<div class="sidebar responsive sidebar-fixed sidebar-scroll" id="sidebar" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
        <p-scrollPanel [style]="{width: '100%', height: '80vh'}" styleClass="custom">
            <p-panelMenu [model]="items" [style]="{'width':'190px','border':'1px #ccc solid'}" [multiple]="false"></p-panelMenu>
        <br>
        </p-scrollPanel>
</div> 