<p-table #dt 
        [value]="list" 
        [columns]="cols" 
        [paginator]="true" 
        rows="{{rows}}" 
        selection="{{listSelections}}" 
        [customSort]="true"  
        (sortFunction)="customSort($event)">
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th width="1" >
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th class="chkcenter">
                    <p-tableCheckbox [value]="true"></p-tableCheckbox>
                </th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input class="table-filter" style="height: 22px !important; border-radius: 4px!important; width: 100% !important" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              </th>
              
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableCheckbox [value]="rowData" ></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
      
        <ng-template pTemplate="caption">
            <ng-content select=".captionTemplate" ></ng-content>

              <div class="text-right paginacao">
                  Registros por Página
                  <input class="" ([ngModel])="paginacao.registrosPorPagina" id="fieldTotal2" 
                          style="width: 25px; text-align: center;margin: .3em !important"
                           (keyup.enter)="page()"  type="input"  
                          >
                  <p-button icon="fa fa-angle-double-left" style="margin: .3em !important" (click)="firstPage()"></p-button>
                  <p-button icon="fa fa-angle-left" style="margin: .3em !important" (click)="previousPage()" disabled="!hasPrevious()" 
                  class="ui-paginator-page ui-paginator-element ui-state-default ui-corner-all ng-star-inserted"></p-button>
                  Página
                  <input class="" ([ngModel])="paginacao.pagina" id="fieldTotal2" style="width: 25px; text-align: center; margin: .3em !important" value="{{paginacao.pagina}}"  (keyup.enter)="page()">
                  de {{paginacao.totalPaginas}}
                  <p-button icon="fa fa-angle-right" style="margin: .3em !important" (click)="nextPage()" disabled="!hasNext()"></p-button>
                  <p-button icon="fa fa-angle-double-right" style="margin: .3em !important" (click)="lastPage()"></p-button>
              </div>
          </ng-template>
      </p-table>
      {{paginacao.registrosPorPagina}}