<left-template>
    
    
    <div class="content">

        <form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start" [formGroup]="validationForm.form">

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start">
                <div fxLayout="column" fxFlex="50" fxLayoutAlign="start">
                    <h-field id="workflowNomeField" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'ADMM16.FORM.NOME' | translate"
                        [control]="validationForm.form">
                        <input id="workflowNome" class="form-control" required formControlName="workflowNome" [(ngModel)]="workflowNome">
                    </h-field>

                    <h-field id="moduloField" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'ADMM16.FORM.MODULO' | translate"
                        [control]="validationForm.form">
                        <p-dropdown id="modulo" (onChange)="changeModulo($event)" formControlName="modulo" [options]="modulos" optionLabel="label"
                            optionValue="value" [(ngModel)]="modulo">
                        </p-dropdown>
                    </h-field>

                    <h-field fxLayout="row"*ngIf="modulo.value" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'ADMM16.FORM.LISTAGEM' | translate"
                        [control]="validationForm.form">
                        <p-dropdown id="listagem" formControlName="listagem" [options]="listagens" optionLabel="label" optionValue="value" [(ngModel)]="listagem">
                        </p-dropdown>
                    </h-field>

                </div>

                <div fxLayout="column" fxFlex="50" fxLayoutAlign="start">
                    <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="25" [columnSizeValue]="20" [label]="'ADMM16.FORM.STATUS' | translate"
                        [control]="validationForm.form">
                        <input id="status" class="form-control" formControlName="status" [(ngModel)]="status">
                    </h-field>
                </div>

            </div>

            <p-tabView fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start">
                <p-tabPanel header="{{'ADMM16.TABS.ACIONAMENTO.TITLE' | translate}}">
                    <tab-acionamento></tab-acionamento>
                </p-tabPanel>
                <p-tabPanel header="{{'ADMM16.TABS.BASE_DE_DADOS.TITLE' | translate}}">
                    <tab-base-de-dados></tab-base-de-dados>
                </p-tabPanel>
            </p-tabView>

        </form>




    </div>


</left-template>