<left-template>

    
        <div class="content">
            <form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start">
    

            </form>
        </div>
    
    </left-template>