<p-table #dataTableComponent 
    [(selection)]="selected" 
    dataKey="{{dataKey}}"
    (onRowSelect)="onRowSelect($event)" 
    (onRowUnselect)="onRowUnselect($event)"
    [value]="rows">
    <ng-template pTemplate="header">
        <tr>
                <th style="width: 2.25em">
                    <p-tableHeaderCheckbox (click)="selectAll($event)" ></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let index of columns" fxFlex="100">
                <span fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" [pSortableColumn]="index.prop">
                    <label [innerHtml]="index.header"></label>
                    <p-sortIcon id="icon_{{index.prop}}" #iconSort *ngIf="index.sort" [field]="index.prop" (click)="sortBy(iconSort)"></p-sortIcon>
                </span>
                <span fxFlex="100" *ngIf="index.filter" fxLayout="row" fxLayoutAlign="center">
                    <input *ngIf="index.filter === 'string'" class="filter table-filter" (change)="onFilter($event.target.value, index.prop, index.filterMatchMode)"
                        style="height: 22px !important; border-radius: 4px!important; width: 100% !important" pInputText type="text">
                    <span *ngIf="index.filter === 'empty'" class="filter"></span>
                </span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let index of columns">{{rowData[index.prop]}}</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="caption">
        

        <div  fxFlex="100" fxLayout="row" fxLayoutAlign="end end" class="header-pagination-table">
            <span class="actions">
                <ng-content select=".table-action"></ng-content>
            </span>
            <span class="tableState">
                
                <label [translate]="'DATA_TABLE.HEADER.REGISTROS_POR_PAGINA'"></label>
                <input value="{{limitPage}}" id="limitSize" class="limitPageClass" (change)="changePageLimit($event)" type="input">
    
                <p-button icon="fa fa-angle-double-left" class="pagination-btn" [disabled]="pageNumber == 1" (click)="firstPage($event)">
    
                </p-button>
    
                <p-button icon="fa fa-angle-left" class="pagination-btn" (click)="previousPage($event)" [disabled]="pageNumber == 1" class="pagination-btn">
                </p-button>
    
                <label [translate]="'DATA_TABLE.HEADER.PAGINA'"></label>
    
                <input id="pageIndex" style="width: 25px; text-align: center; margin: .3em !important" value="{{pageNumber}}" (change)="changePageNumber($event)">
    
                <label [translate]="'DATA_TABLE.HEADER.DE'" [translateParams]="{value: totalPages}"></label>
    
                <p-button icon="fa fa-angle-right" class="pagination-btn" [disabled]="pageNumber < totalPages" (click)="nextPage($event)">
    
                </p-button>
    
                <p-button icon="fa fa-angle-double-right" class="pagination-btn" [disabled]="pageNumber < totalPages" (click)="lastPage($event)">
    
                </p-button>

            </span>

        </div>
    </ng-template>

</p-table>