p-autocomplete{
    span{
        background-color: #FFF;
        border: 0px solid rgba(0, 0, 0, 0.2) !important;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
        > div:nth-of-type(1){
        background: blue !important;
        }
    }
    
    input{
        background-color: white !important;
    }
}