a {
    color: #999;
  }
  
  table {
    border-color: grey !important;
    border-spacing: 2px !important;
    border: 1px solid #dddddd !important;
  }
  .ui-widget {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.0em !important;
    background: #ffffff !important;
  }
  
  .base-action {
    padding: 6px !important;
    border-top-width: 2px !important;
    text-align: center;
  
  }
  
  .ui-button-text-icon-left .ui-button-text{
    padding: .3em 1em .3em 2.1em;
  }
  
  .ui-button-icon-left {
    left: 1em;
  }
  
  .btn.btn-round {
    border-radius: 4px !important;
    border: 0px;
    margin: 3px ;
  }
  
  /* Tabview */
  p-tabview {
    a {
      color: #999;
    }
  
    .ui-tabview.ui-widget-content {
      border: 0 none;
    }
    .ui-tabview .ui-tabview-nav {
      background: transparent;
    }
    .ui-tabview .ui-tabview-nav > li.ui-state-default {
      background: #f6f7f9;
      border: 1px solid #C5D0DC;
      border-bottom-width: 0px;
    }
    .ui-tabview .ui-tabview-nav > li.ui-state-active {
      background: #ffffff;
      font-weight: normal;
      color: #576373;
      border-top: 2px solid #4c8fbd;
      margin-bottom: -2px;
      box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
    }
    .ui-tabview .ui-tabview-nav > li:not(.ui-state-active):not(.ui-state-disabled):hover {
      background: #ededf0;
  
    }
    .ui-tabview-nav{
      border-bottom: 1px solid #DDDDDD;
  
    }
  }
  .ui-autocomplete {
    border: 0;
  }
  
  .ui-widget .ui-widget {
    font-size: 1em;
    size: 1em;
  }
  
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
  }
  
  .chkcenter {
    text-align: center;
  }
  
  .ui-treetable tbody tr td{
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
  }
  
  .ui-treetable thead th{
    padding: 4px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
  
    background: #F2F2F2;
    background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
    background-repeat: repeat-x;
  }
  