<left-template>

    <button pButton type="button" class="actionToolbar btn btn-success btn-round no-border base-action" [disabled]="modelForm2.invalid"
        (click)="save($event)" icon="fa fa-save" label="Click">
    </button>

    <button pButton type="button" class="actionToolbar btn btn-round no-border base-action" [disabled]="modelForm2.invalid" (click)="save($event)"
        icon="fa fa-save" label="Nova Possibilidade">
    </button>

    <div class="content">

        <p-tabView fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start">


            <p-tabPanel header="Tab TreeTable" [disabled]="false">

                <!-- <div class="content-section implementation">

                                <p-treeTable [value]="filiais" [columns]="cols" [paginator]="true" [rows]="10">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns; let i = index" >
                                                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                                <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 4"></p-treeTableCheckbox>
                                                {{rowData[col.field]}}
                                            </td>

                                        </tr>
                                    </ng-template>
                                </p-treeTable> -->

                <form fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start" #modelFormTable="ngForm">
                    <horus-datatable [(paginacao)]="paginacao" [(cols)]="colsProduto" [(list)]="listaProdutos" [(listSelections)]="listaProdutosSel"
                        [(url)]="url" [(rows)]="paginacao.registrosPorPagina"></horus-datatable>
                </form>



                <!-- </div> -->

            </p-tabPanel>



            <p-tabPanel header="Form" leftIcon="fa-calendar">

                <div fxFlex="100" fxLayoutWrap fxLayout="column">
                    <h5 class="header lighter bigger blue">
                        <i class="fa fa-credit-card orange"></i>
                        <span id="headerEmbFil"> Ativar / Inativar Embalagem para Venda</span>
                    </h5>
                </div>
                <form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start" [formGroup]="modelForm">
                    <h-field fxLayout="row" [columnSizeLabel]="20" [columnSizeValue]="20" [label]="'LABEL-01'" [control]="modelForm">
                        <input id="field01" required="true" class="form-control" formControlName="inputFirst" [(ngModel)]="inputFirst">
                        <messageValidation [for]="'required'" [message]="'Campo Obrigatório'"></messageValidation>
                    </h-field>

                    <h-field fxLayout="row" [columnSizeLabel]="20" [columnSizeValue]="20" [label]="'LABEL-02'" [control]="modelForm">
                        <input id="field02" class="form-control" formControlName="inputSecond" [(ngModel)]="inputSecond">
                        <messageValidation [for]="'required'" [message]="'Campo Obrigatório'"></messageValidation>
                        <messageValidation [for]="'email'" [message]="'Este Campo é um email'"></messageValidation>
                    </h-field>

                    <h-field fxLayout="row" [columnSizeLabel]="20" [columnSizeValue]="20" [label]="'LABEL-03'" [control]="modelForm">
                        <p-dropdown formControlName="cities1" [options]="cities1" [(ngModel)]="selectedCars1" [style]="{'width':'150px'}" editable="true"
                            placeholder="Select a Brand"></p-dropdown>
                        <messageValidation [for]="'required'" [message]="'Campo Obrigatório'"></messageValidation>
                        <messageValidation [for]="'email'" [message]="'Este Campo é um email'"></messageValidation>
                    </h-field>

                    <h-field fxLayout="row" [columnSizeLabel]="20" [columnSizeValue]="20" [label]="'LABEL-04'" [control]="modelForm">
                        <p-checkbox id="field04" formControlName="selectedValuesCheck1" name="checkgroup" value="1" label="True" [(ngModel)]="selectedValuesCheck1"></p-checkbox>
                        <p-checkbox id="field04" formControlName="selectedValuesCheck1" name="checkgroup" value="2" label="False" [(ngModel)]="selectedValuesCheck1"></p-checkbox>
                        <messageValidation [for]="'required'" [message]="'Campo Obrigatório'"></messageValidation>

                    </h-field>
                </form>
            </p-tabPanel>
            <p-tabPanel header="Form 2" [disabled]="false">
                <form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start" [formGroup]="modelForm2">
                    <h-field fxLayout="row" [columnSizeLabel]="20" [columnSizeValue]="20" [label]="'LABEL-05'" [control]="modelForm2">
                        <input id="field05" required="true" class="form-control" formControlName="inputFirst2" [(ngModel)]="inputFirst2">
                        <messageValidation [for]="'required'" [message]="'Campo Obrigatório'"></messageValidation>
                    </h-field>
                    <h-field fxLayout="row" [columnSizeLabel]="20" [columnSizeValue]="20" [label]="'LABEL-EM AUTO COMPLETE'" [control]="modelForm2">
                        <p-autoComplete [suggestions]="resultados" (completeMethod)="search($event)" field="descricao" placeholder="Estruturas Mercadologicas"
                            [minLength]="1" (onSelect)="setEstrutura(this)" size="41">
                        </p-autoComplete>
                        <messageValidation [for]="'required'" [message]="'Campo Obrigatório'"></messageValidation>
                    </h-field>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Tab Tree" [disabled]="false">
                <p-tree [value]="resultadosTree" selectionMode="checkbox" [(selection)]="resultadosTreeSelecionados" emptyMessage="Não existem registros">
                </p-tree>
            </p-tabPanel>




            <p-tabPanel header="Tab Desabilitada" [disabled]="false">
                Content 3
            </p-tabPanel>
        </p-tabView>
    </div>

</left-template>