<left-template>

    <button pButton type="button" 
            [routerLink]="'/CAM/CAMM15/form'"
            class="actionToolbar btn btn-success btn-round no-border base-action" 
            icon="fa fa-plus" label="{{'CAMM15.ACTION.NOVO' | translate}}" >
    </button>

    <div class="content">



    </div>

</left-template>