<form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start" [formGroup]="validationForm.form">
    
    <button (click)="compare($event)">WORKFLOW</button>

    <horus-dtable [value]="fornecedores" *ngIf="fornecedores" >
        <horus-column id="id" 
                    header="{{'CAMM15.TABS.FORNECEDORES.DATA_TABLE.HEADER.ID' | translate}}" 
                    width="100" prop="id" 
                    filter="string" sort="true" filterMatchMode="EQUALS">
            
        </horus-column>

        <horus-column id="documento" 
                    header="{{'CAMM15.TABS.FORNECEDORES.DATA_TABLE.HEADER.DOCUMENTO' | translate}}" 
                    width="100" prop="documento" filter="string" sort="false" filterMatchMode="CONTAINS">
            
        </horus-column>

    </horus-dtable>

</form>