
<p-dialog [(visible)]="showDialog">
            <p-header>
        Header content here
    </p-header>
    Content
    <p-footer>
        //buttons
    </p-footer>
</p-dialog>



<horus-dtable #acionamentoTable [value]="acionamentos">

        <button pButton type="button" (click)="adicionar($event)" class="table-action btn btn-success btn-round no-border base-action"
                icon="fa fa-plus" label="{{'ADMM16.ACTION.ADD' | translate}}">
        </button>
        <button pButton *ngIf="acionamentoTable.hasOneSelected();" type="button" (click)="editar($event)" class="table-action btn btn-success btn-round no-border base-action"
                icon="fa fa-pencil" label="{{'ADMM16.ACTION.EDIT' | translate}}">
        </button>
        <button pButton *ngIf="acionamentoTable.hasSelected();"  type="button" (click)="excluir($event)" class="table-action btn btn-warnning btn-round no-border base-action"
                icon="fa fa-remove" label="{{'ADMM16.ACTION.REMOVE' | translate}}">
        </button>

        <horus-column id="tabelaAcionamento" header="{{'ADMM16.TABS.ACIONAMENTO.DATA_TABLE.HEADER.TABELA' | translate}}" width="100"
                prop="tabelaAcionamento" sort="true" filterMatchMode="EQUALS">
        </horus-column>


        <horus-column id="campoTabela" header="{{'ADMM16.TABS.ACIONAMENTO.DATA_TABLE.HEADER.CAMPO' | translate}}" width="100" prop="campoTabela"
                sort="true" filterMatchMode="EQUALS">

        </horus-column>


        <horus-column id="tipo" header="{{'ADMM16.TABS.ACIONAMENTO.DATA_TABLE.HEADER.TIPO' | translate}}" width="100" prop="tipo"
                sort="true" filterMatchMode="EQUALS">

        </horus-column>

</horus-dtable>

