
:host{

    .main-content{
        margin-top: 48px;
    }
    
    main-component {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    
        > .mat-sidenav-container {
            display: flex;
            flex: 1;
    
            > .mat-sidenav-content,
            > .mat-drawer-content {
                display: flex;
                flex: 1;
                overflow: hidden;
                height: 100vh;
    
    
            }
        }
    
    }
}
