<left-template>

    <button pButton type="button" [routerLink]="'/CAM/CAMM15'" class="actionToolbar btn btn-default btn-round no-border base-action"
        icon="fa fa-arrow-left" label="{{'CAMM15.ACTION.VOLTAR' | translate}}">
    </button>

    <button pButton type="button" (click)="save($event)" class="actionToolbar btn btn-success btn-round no-border base-action"
        icon="fa fa-plus" label="{{'CAMM15.ACTION.SALVAR' | translate}}">
    </button>


    <div class="content">

        <p-tabView fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start">
            <p-tabPanel header="{{'CAMM15.TABS.FORNECEDORES.TITLE' | translate}}">
                <manutencao-produto-fornecedores #fornecedoresTab></manutencao-produto-fornecedores>
            </p-tabPanel>
            
            <p-tabPanel header="{{'CAMM15.TABS.DADOS_GERAIS.TITLE' | translate}}">
                <manutencao-produto-dados-gerais #dadosGeraisTab></manutencao-produto-dados-gerais>
            </p-tabPanel>


            <p-tabPanel header="{{'CAMM15.TABS.EMBALAGENS.TITLE' | translate}}">
                <manutencao-produto-embalagens #embalagensTab></manutencao-produto-embalagens>
            </p-tabPanel>

            <p-tabPanel header="{{'CAMM15.TABS.EMBALAGEM_FILIAL.TITLE' | translate}}"></p-tabPanel>
            <p-tabPanel header="{{'CAMM15.TABS.PRECO.TITLE' | translate}}"></p-tabPanel>

            <p-tabPanel header="{{'CAMM15.TABS.FISCAL.TITLE' | translate}}"></p-tabPanel>
            <p-tabPanel header="{{'CAMM15.TABS.COMERCIAL.TITLE' | translate}}"></p-tabPanel>

            <p-tabPanel header="{{'CAMM15.TABS.TABELA_NUTRICIONAL.TITLE' | translate}}"></p-tabPanel>
            <p-tabPanel header="{{'CAMM15.TABS.PRODUTO_BALANCA.TITLE' | translate}}"></p-tabPanel>
            <p-tabPanel header="{{'CAMM15.TABS.ANEXO.TITLE' | translate}}"></p-tabPanel>


        </p-tabView>


    </div>


</left-template>