<div id="navbar" class="navbar navbar-default navbar-fixed-top" [class.backgroundColorDev]="!horusEnvironment.production">


	<div class="navbar-container" id="navbar-container">
		<button type="button" class="navbar-toggle pull-left" id="menu-toggler">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="navbar-header pull-left">
			<a href="/">
				<img class="pull-left" src="assets/img/navbar-logo.png" />
			</a>
		</div>

		<div class="pull-left" style="padding:0 10px;margin-left:80px;">
			<ng-content></ng-content>
		</div>

		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<div style="margin-top: 8px;float: left;">
					<i *ngIf="!horusEnvironment.production" class="fa fa-exclamation-triangle pull-left" style="font-size: 18px; color: #FFF;  display:inline-block; padding: 6px 2px 5px 14px;"></i>
					<div class="navbar-header center">
						<p style="color: #FFF; font-size: 15px; padding: 2px; margin-right: 13px;">
							<b style="font-weight: 18px;">{{horusEnvironment.ambiente}}</b>
						</p>
					</div>
				</div>
				<li class="purple" id="navbar_actions_notifications">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
						<i class="fa fa-envelope"></i>
						<span class="badge badge-important">10</span>
					</a>

					<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
						<li class="nav-header">
							<i class="fa fa-envelope-o"></i>
							{{'TOOLBAR.LABELS.MENSAGENS' | translate}}
						</li>
						<li>
							<a href="/ADM/notificationJSF">
								{{'TOOLBAR.LABELS.VER_TODAS' | translate}}
								<i class="fa fa-arrow-right"></i>
							</a>
						</li>
					</ul>
				</li>
				<li class="light-blue">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle" aria-expanded="false">
						<img class="nav-user-photo" src="/template/base/original/avatars/avatar2.png" />
						<span class="user-info">
							<small [translate]="'TOOLBAR.ACTION.CONECTADO_COMO'"></small>
							<label *ngIf="usuario" [innerHtml]="usuario.login" ></label>
						</span>
						<i class="ace-icon fa fa-caret-down"></i>
					</a>

					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li>
							<a href="#">
								<i class="fa fa-key"></i>{{'TOOLBAR.ACTION.ALTERAR_SENHA' | translate}}</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-user"></i>{{'TOOLBAR.ACTION.MEU_PERFIL' | translate}}l</a>
						</li>
						<li (click)="logout($event)">
							<a href="#">
							<i class="fa fa-sign-out"></i>{{'TOOLBAR.ACTION.SAIR' | translate}}</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
							<i class="fa fa-info-circle"></i>{{'TOOLBAR.ACTION.VERSAO' | translate}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
</div>