
:host{
    .navbar-default {
        padding-left: -10px;
    }

    .nav > .ace-nav {
        padding-right: 10px;
    }
    .ace-nav > li {
        line-height: 45px; 
        height: 45px; 
        border-left: 1px solid #E1E1E1; 
        padding: 0; 
        position: relative; 
        float: left; 
    }
    .nav > li {
        position: relative;
        display: block;
    }

    .navbar {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        border-width: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-height: 45px;
        background: #438eb9;
    }
        
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
      margin-right: -12px;
      margin-left: -12px;
    }

    .backgroundColorDev{
        background-color: #ad0303;
        
    }

}