
<form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start" [formGroup]="validationForm.form">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="70" fxLayoutAlign="start">
            <h5 class="header lighter bigger blue">
                <i class="fa fa-tags orange"></i>
                <label>{{'CAMM15.TABS.DADOS_GERAIS.IDENTIFICACAO' | translate}}</label>
            </h5>

            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.CODIGO' | translate"
                [control]="validationForm.form">
                <input id="codigoProduto" class="form-control" formControlName="codigoProdutoForm" [(ngModel)]="model.codigo">
            </h-field>

            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.GONDOLA' | translate"
                [control]="validationForm.form">
                <input id="gondulaId" required="true" class="form-control" formControlName="descricaoGondolaForm" [(ngModel)]="model.descricaoReduzida"
                    disabled="true">
                <messageValidation [for]="'required'" [message]="'CAMM15.MESSAGES.ERRORS.REQUIRED.GONDOLA' | translate">
                </messageValidation>
            </h-field>


            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.DESCRICAO_REDUZIDA' | translate"
                [control]="validationForm.form">
                <input id="descricaoCupomId" required="true" class="form-control" formControlName="descricaoCupomForm" [(ngModel)]="model.descricaoReduzida">
                <messageValidation [for]="'required'" [message]="'CAMM15.MESSAGES.ERRORS.REQUIRED.DESCRICAO_REDUZIDA' | translate">
                </messageValidation>
            </h-field>


            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.DESCRICAO_BASICA' | translate"
                [control]="validationForm.form">
                <input id="descricaoBasicaFormId" required="true" class="form-control" formControlName="descricaoBasicaForm" [(ngModel)]="model.descricaoBasica">
                <messageValidation [for]="'required'" [message]="'CAMM15.MESSAGES.ERRORS.REQUIRED.DESCRICAO_BASICA' | translate">
                </messageValidation>
            </h-field>


            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.MARCA' | translate"
                [control]="validationForm.form">
                <input id="marcaFormId" required="true" class="form-control" formControlName="marcaForm" [(ngModel)]="model.marca">
                <messageValidation [for]="'required'" [message]="'CAMM15.MESSAGES.ERRORS.REQUIRED.MARCA' | translate">
                </messageValidation>
            </h-field>


            <div fxLayout="row">
                <h-field fxFlex="61" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="51" [columnSizeValue]="45" [label]="'CAMM15.FORM.FABRICANTE' | translate"
                    [control]="validationForm.form">
                    <p-autoComplete id="fabricanteFormId" 
                        horus-autocomplete
                        formControlName="fabricanteForm" 
                        [(ngModel)]="model.fabricante" 
                        [suggestions]="fabricantesSearch"
                        field="nome" 
                        (completeMethod)="searchFabricantes($event)">
                    </p-autoComplete>
                </h-field>
                <h-field fxFlex="37" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="50" [columnSizeValue]="47" [label]="'CAMM15.FORM.REF_FABRICANTE' | translate"
                    [control]="validationForm.form">
                    <input id="fabricanteReferenciaFormId" class="form-control" formControlName="fabricanteReferenciaForm" [(ngModel)]="model.dsReferenciaFabricante">
                </h-field>
            </div>

        </div>
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="end">
            <h5 class="header lighter bigger blue">
                <i class="fa fa-tags orange"></i>
                <label>{{'CAMM15.TABS.DADOS_GERAIS.FOTO' | translate}}</label>
            </h5>
        </div>
    </div>

    <h5 class="header lighter bigger blue">
        <i class="fa fa-tags orange"></i>
        <label>{{'CAMM15.TABS.DADOS_GERAIS.CARACTERISTICAS' | translate}}</label>
    </h5>


    <div fxLayout="row">
        <div fxLayout="column" fxFlex="70" fxLayoutAlign="start">
            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.MARCA' | translate"
                [control]="validationForm.form">


            </h-field>

            <div fxLayout="row">
                <h-field fxFlex="61" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="51" [columnSizeValue]="45" [label]="'CAMM15.FORM.PRINCIPAL_FINALIDADE' | translate"
                    [control]="validationForm.form">
                    <input id="principalFinalidadeFormId" class="form-control" formControlName="principalFinalidadeForm" [(ngModel)]="model.principalFinalidade">
                </h-field>
                <h-field fxFlex="37" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="50" [columnSizeValue]="47" [label]="'CAMM15.FORM.ORIGEM' | translate"
                    [control]="validationForm.form">
                    <input id="origemFormId" class="form-control" formControlName="origemForm" [(ngModel)]="model.origem">
                    <messageValidation [for]="'required'" [message]="'CAMM15.MESSAGES.ERRORS.REQUIRED.ORIGEM' | translate">
                    </messageValidation>
                </h-field>
            </div>
            <div fxLayout="row">
                <h-field fxFlex="61" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="51" [columnSizeValue]="45" [label]="'CAMM15.FORM.TIPO_PRODUTO' | translate"
                    [control]="validationForm.form">
                    <p-dropdown 
                        (onChange)="changeTipoProduto($event)"
                        formControlName="tipoProdutoForm" 
                        [options]="tiposDeProduto" 
                        optionLabel="label"
                        optionValue="value"
                        [(ngModel)]="model.tipoDeProduto"></p-dropdown>
                </h-field>
                <h-field fxFlex="37" fxLayout="row" *ngIf="derivado" fxLayoutAlign="start" [columnSizeLabel]="50" [columnSizeValue]="47" [label]="'CAMM15.FORM.PRODUTO_BASE' | translate"
                    [control]="validationForm.form">
                    <input id="produtoBaseFormId" class="form-control" formControlName="produtoBaseForm" 
                        [(ngModel)]="model.produtoBaseId" required>
                    <messageValidation [for]="'required'" [message]="'CAMM15.MESSAGES.ERRORS.REQUIRED.PRODUTO_BASE' | translate">
                    </messageValidation>
                </h-field>

                <h-field fxFlex="37" *ngIf="!derivado" fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="50" [columnSizeValue]="47" [label]="'CAMM15.FORM.PRODUTO_BASE' | translate"
                    [control]="validationForm.form">
                    <input id="produtoBaseFormId" class="form-control" disabled="true" >
                </h-field>




            </div>
            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.DESCRICAO_TABLOID' | translate"
                [control]="validationForm.form">
                <input id="descricaoTabloid" class="form-control" formControlName="dsTabloide" [(ngModel)]="model.dsTabloide">
            </h-field>

            <h-field fxLayout="row" fxLayoutAlign="start" [columnSizeLabel]="31" [columnSizeValue]="66" [label]="'CAMM15.FORM.ESTRUTURA_MERCADOLOGICA' | translate"
                [control]="validationForm.form">
                <input id="estruturaMercadologicaSelecionadaInput" class="form-control" formControlName="estruturaMercadologicaSelecionada" [(ngModel)]="model.estruturaMercadologicaSelecionada">
            </h-field>

        </div>
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="end">

        </div>
    </div>

</form>