<form #formContent fxFlex="100" fxLayoutWrap fxLayout="column" fxLayoutAlign="start" 
        [formGroup]="validationForm.form">
    


    <horus-dtable 
        #embalagemTable
        (countMethod)="countEmbalagem($event)"
        (pageMethod)="pageEmbalagem($event)"
        pagination="SERVER" >
    <horus-column id="id" 
        header="{{'CAMM15.TABS.EMBALAGENS.DATA_TABLE.HEADER.ID' | translate}}" 
        width="100" prop="id" filter="string"
        sort="true" filterMatchMode="EQUALS">

    </horus-column>
    <horus-column id="quantidade" 
        header="{{'CAMM15.TABS.EMBALAGENS.DATA_TABLE.HEADER.QUANTIDADE' | translate}}" 
        width="100" prop="quantidade" filter="string"
        sort="true" filterMatchMode="EQUALS">
        
    </horus-column>


</horus-dtable>
</form>