<left-template>

    <button pButton type="button" 
        class="actionToolbar btn btn-success btn-round no-border base-action" icon="fa fa-save"
        label="Click">

    </button>


</left-template>