#loginForm input[type=text]{text-transform: none!important}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select{font-size:12px;height:31px!important; text-transform: uppercase!important;}
textarea{font-size:12px;height:100px!important; text-transform: uppercase!important;}

.form-control{font-size: 12px; height:31px!important; }

.actionbar {position: relative;border-bottom: 1px solid #e5e5e5;background-color: #f5f5f5;min-height: 40px;line-height: 39px;padding: 0 12px 0 0;display: block;z-index: 1028;}
.actionbar.fixed,.actionbar.actionbar-fixed {position: fixed;right: 0;left: 190px; top: 85px; border-top: 1px solid #e5e5e5;}
.actionbar-fixed + .page-content {padding-top: 92px;}
.actionsbar {background-color: transparent; display: inline-block; line-height: 24px; margin: 0 22px 0 22px; padding: 5px 0 5px 0; font-size: 13px; color: #333; border-radius: 0; list-style:none!important;}
.actionsbar > li,.actionsbar > li.active { color: #555555; float:left; margin-right: 0.5%;}
.actionsbar > li > .divider { padding: 0 4px;}
.actionsbar > li > a { display: inline-block; padding: 0 4px; color: #4c8fbd;}
.actionsbar .home-icon { margin-left: 4px; margin-right: 2px; font-size: 20px; position: relative; top: 2px;}
.actionsbar .arrow-icon { height: 22px; padding: 0; margin: 0; position: relative; top: 1px; font-size: 14px; color: #b2b6bf;}
.menu-min.sidebar + .main-content .actionbar.fixed,.menu-min.sidebar + .main-content .actionbar.actionbar-fixed{ left: 43px;}
form h5{padding: 0px 0 13px 0; color: rgba(67, 131, 180, 1); font-weight: bolder; border-bottom: 1px solid rgba(67, 131, 180, 0.5); }
/* .table-header th{background-color:#62a8d1!important; color:#FFF!important; transition: 0.1s all linear; -moz-transition: 0.1s all linear; -webkit-transition: 0.1s all linear;}
.table-header th:hover{background-color:#438eb9!important; color:#FFF!important; transition: 0.1s all linear; -moz-transition: 0.1s all linear; -webkit-transition: 0.1s all linear;}
 */
 .table-header th{background-color:#FFF!important;}
 #perfil td:first-child{width: 12% !important}
 .profile-user-info{width:100%!important;}
.pagination{margin-top: 0!important; margin-bottom: 10px!important}
select[name='itemOrdenacaoColuna']{margin-right:15px;}
.input-group-addon{height: 31px}
.nav>li>a {position: relative;display: block;}

.nav-list>li>.submenu:before{left:5px!important}
.nav-list>li>.submenu>li:before{left:7px;width:5px}
.nav-list>li .submenu>li>a{padding-left:18px}
.nav-list>li>.submenu li>.submenu>li>a{font-size:8pt;margin-left:4px;padding-left:20px}

/* BASE LOADING */

.base-loading{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center; z-index: 9999999!important;}
.base-loading-background{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#fff;opacity:0.5}
.base-loading-content{position:absolute;top:50%;left:0;right:0;transform:translateY(-50%);text-align:center}
.base-loading-content .fa{color: #2283c5;}
.base-loading-content .fa-spin{-webkit-animation-duration:1s; -moz-animation-duration:1s; -o-animation-duration:1s; animation-duration:1s}

/* BASE ACTION */

.base-action, .btn.base-action{padding:6px;border-top-width:2px;font-size:10pt}
.base-action-single-selection, .base-action-multiple-selection{display:none}

/* BASE TABLE */

.base-table{font-size: 8pt;margin-bottom:0}
.base-table .filters input[type='text']{border: 1px solid #6fb3e0!important;border-radius:4px!important;height: 23px!important;font-weight:regular;}
.base-table .filters select{border-radius: 4px;border: 1px solid #6fb3e0!important;height: 23px !important;font-size: 8pt;font-weight: normal;padding-top: 1px;padding-bottom: 2px;}
.base-table .headers abbr{border-bottom-width:0}
.base-table .headers .base-sortable{cursor:pointer}
.base-table .headers .base-sortable abbr{cursor:pointer}
.base-table .headers .base-sortable:after{content:"\f0dc";font-family:FontAwesome;font-size:8pt;float:right}
.base-table .headers .base-sortable:hover{color:#428bca}

.base-negative-value{color:red}
.base-negative-value:before{content:"\f063";font-family:FontAwesome;font-size:8pt}

.base-success-status-thumbs{color:#00aa00}
.base-success-status-thumbs:before{content:"\f087";font-family:FontAwesome;font-size:8pt}

.base-error-status-thumbs{color:red}
.base-error-status-thumbs:before{content:"\f088";font-family:FontAwesome;font-size:8pt}

/* BASE TABLE PAGINATION */

.base-pagination{display:inline-block;margin-left:10px;margin-top: 2px;}
.base-pagination button.base-pagination-first, .base-pagination button.base-pagination-last{width:28px}
.base-pagination button.base-pagination-previous, .base-pagination button.base-pagination-next{width:32px}
.base-pagination .base-pagination-content{display: inline-block;margin: 0 4px;}
.base-pagination .base-pagination-content span{color:#a1a1a1;font-weight: normal;font-size: 8pt;}
.base-pagination .base-pagination-content input{height: 22px!important;width: 60px;font-weight:normal}

.base-pagination-text {color:#a1a1a1; font-weight: normal; font-size: 8pt;}

/* BASE TABLE EXTRAS */

.base-table-top-bar{margin-bottom:0;border-bottom:0px;}
.base-table-top-bar th{ padding-top:3px; padding-bottom:3px;}
.base-table-top-bar select{font-size:8pt;height:22px!important;padding:0 5px;}
/* .base-table-top-bar input[type='text']{border: 1px solid #6fb3e0!important;border-radius:4px!important;height: 23px!important;font-weight:regular;} */

.base-sortable.desc:after{content:"\f0dd"!important}
.base-sortable.asc:after{content:"\f0de"!important}

.base-table-check-column {width:30px;}
.base-table-export{display:inline-block}
.base-table-no-data-found{border: 1px solid #ddd;border-top: none;text-align: center;padding: 10px;background-color: #f9f9f9;}

/* BASE REPORT */

.base-report-tabbable .tab-content{border:none;padding:0}
.base-report-tabs a[data-toggle]{background-image: linear-gradient(to bottom,#fefefe 0,#f8f8f8 100%);border-bottom-width: 0px!important}

/* BASE FORM FILE */
.base-form-file{display: block;font-size: inherit;position: relative;height: 30px;}
.base-form-file .base-form-file-container{display: block;position: absolute;top: 0;left: 0;right: 0;height: 30px;background-color: #ffffff;border: 1px solid #d5d5d5;cursor: pointer;-webkit-box-shadow: none;box-shadow: none;-webkit-transition: all 0.15s;-o-transition: all 0.15s;transition: all 0.15s;}
.base-form-file .base-form-file-container:hover{border: 1px solid #efad62;}
.base-form-file .base-form-file-container .base-form-file-button{display: inline-block;line-height: 24px;text-align: center;padding: 0 8px;font-size: 11px;font-weight: bold;border: 2px solid #FFF;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.base-form-file .base-form-file-container .base-form-file-name{display: inline-block;height: 28px;white-space: nowrap;overflow: hidden;line-height: 28px;color: #888888;font-size: 13px;vertical-align: top;position: static;padding-left: 30px;}
.base-form-file .base-form-file-container .base-form-file-name .ace-icon{display: inline-block;position: absolute;left: 0;top: 0;bottom: 0;line-height: 24px;width: 26px;text-align: center;font-family: FontAwesome;font-size: 13px;border: 2px solid #FFF;color: #FFF;-webkit-transition: all 0.1s;-o-transition: all 0.1s;transition: all 0.1s;background-color: #d1d1d1;}
.base-form-file .base-form-file-container .base-form-file-name span{overflow: hidden;position: absolute;top: 0;left: 30px;right: 0;bottom: 0;}

/* HOVER AUTOCOMPLETE */
/* .ui-autocomplete{max-height: 300px!important; overflow-y: scroll!important} */

/* CORREï¿½ï¿½O NOTIFICAï¿½ï¿½O BOOTSTRAP 3 */
.notificacao_bt3{padding-top: 65px!important; background-color: transparent!important}

.btnRemover{
    border-radius: 0!important;
    width: 11%!important;
    padding-bottom: 18px!important;
    right: -9%!important;
    top: 3px!important; 
    
  }

.btnRemover a i{
  font-family:'Open Sans';
}

/* CORREï¿½ï¿½O MODAL */
.modal-header{padding: 5px 15px;}
button.close{margin-top:4px;}
#filialTree{padding-left: 27px; height: 300px; overflow-y: scroll; width: 590px}
.datepicker {z-index:999999!important}
.sweet-alert{z-index: 99999999!important;}

/* CORREï¿½ï¿½O NESTED PERFIL USUARIO */
.dd-item button[data-action=expand]{color: #478fca!important}
.dd-item button[data-action=collapse]{color: #FF892A!important}

/* BASE AUTOCOMPLETE LIST */
.base-autocomplete-list-bar{margin:0;border-width:0 1px}
.base-autocomplete-list-bar th:nth-child(1){border-right:none}
.base-autocomplete-list-bar th:nth-child(2){padding:0 5px;width:10px;border-left:none}
.base-autocomplete-list-item td:nth-child(1){border-right:none}
.base-autocomplete-list-item td:nth-child(2){padding:0;width:20px;border-left:none}
.base-autocomplete-list-item button:focus {outline:0;}
.base-autocomplete-list-items{max-height:300px;overflow-y:auto;border-bottom:1px solid #DDD}
.base-autocomplete-list-items table{margin:0;border-width:0}

/* BASE DTABLE */
.base-dtable{position: absolute;top:0;left:0;right:0;bottom:0;background-color:#EEE;font-size:11px}
.base-dtable .alert{font-size:11px;padding: 4px 10px; }
.base-dtable button.close{margin-top: 0px;}
.base-dtable table{margin:0!important}
.base-dtable table td, .base-dtable table th{border-bottom:0!important}
.base-dtable-header{display:table}
.base-dtable-header-left{display:table-cell}
.base-dtable-header-right{display:table-cell;width:100%;position:relative}
.base-dtable-header-right-content{border-right:1px solid #DDD;position:absolute;top:0;left:0;bottom:0;right:17px;overflow:hidden}
.base-dtable-header-right-content th button{text-align:left;border: 0;}
.base-dtable-header-right-content th button:focus{outline: none}
.base-dtable-header-right-content th button div{position:absolute;top:0;bottom:0;left:20px;right:0;overflow:hidden;text-overflow:ellipsis}
.base-dtable-content{position: absolute;top:0;left:0;right:0;bottom:20px;overflow-x:hidden;overflow-y:scroll}
.base-dtable-item{border-left:1px solid #DDD;border-bottom:1px solid #DDD;border-right:1px solid #DDD;}
.base-dtable-item-header button{text-align:left;/* border-bottom: 0; */}
.base-dtable-item-header button:focus{outline: none;background-color:white!important}
.base-dtable-item-header-extra {border-left: 1px solid #CCC;border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;padding: 0 4px;background-color: #EEE;}
.base-dtable-item-header-extra select{max-height:18px;font-size:10px;padding:0;margin:2px}
.base-dtable-item-content input{max-height: 18px;font-size: 10px;}
.base-dtable-item-content{display:table;table-layout: fixed;}
.base-dtable-item-content-replace{white-space: nowrap;}
.base-dtable-item-content.collapsed{display:none}
.base-dtable-item-left{display:table-cell}
.base-dtable-item-right{display:table-cell;width:100%;position:relative}
.base-dtable-item-right-content{position:absolute;top:0;left:0;bottom:0;right:0;overflow:hidden}
.base-dtable-scroll-x{position:absolute;bottom:0;left:0;right:0;overflow:auto;overflow-y:none;margin-left:200px;}
.base-dtable-scroll-x-content{height:1px}

/* TREE */
li.has-children > .thumb:after {content: "\f067";font: normal normal normal 10px/1 FontAwesome;}
li.has-children.expanded > .thumb:after {content: "\f068";font: normal normal normal 10px/1 FontAwesome;}
.bonsai li label{position: absolute;left: 30px;right:0;top:0;font-size:13px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

/* MASTER DETAIL */
.masterDetail{background-color:#FFF}
.masterDetail div table tbody tr{pointer-events:none!important;}

/* CHOSEN SELECT  */
.chosen-container-single .chosen-single abbr {
  background: none;
}
.chosen-container-single .chosen-single abbr:after{content:""; display: inline-block; color: #888; font-family: FontAwesome; font-size: 13px; position: absolute; right: 0; top: -7px;}

/* UPPER CASE */
td {
	text-transform: uppercase;
}
.hfield-form-group .vfield-form-group {
	margin-top: 4px;
}

.hfield-form-error .vfield-form-error input{border: 1px solid red!important}
.hfield-form-error .vfield-form-error select{border: 1px solid red!important}
.hfield-form-error .vfield-form-error textarea{border: 1px solid red!important}

.hfield-info-row .vfield-info-row {border-top: 1px dotted #D5E4F1;}

.hfield-info-label {
  color: #667E99;
  background-color: #EDF3F4;
  text-align: right;
}

.vfield-info-label {
  text-align: left;
  margin-left: 10px;
}

.vfield-info-label label {
  font-weight: bold!important;
}

/* Toggle */
.toggleOption:hover{color: #53a3e0; transition-duration: 0.5s; cursor: pointer;}
.disableToggle:hover{cursor:not-allowed;}
.toggleTdDetail, .toggleDetail{background-color: #EDFFFD !important;}
.toggleDetail:hover{background-color: #ccfff8 !important;}

.font-bold{font-weight: bold;}

/* Dialog */
.header-action-modal-btn{outline: none !important; color: #DDDDDD !important;}
.header-action-modal-btn:hover{color: #000000 !important; transition-duration: 1.5s; cursor: pointer;}

.scrollable {overflow: auto;}
		
/* Pick List  */
.option-div-pick-list {background-color: #E3F6FC; text-align: center; border: 1px #e0e0eb; border-style: inset;}
.option-div-pick-list button {width: 100%; height: 100%;}
.pick-list-main-div {margin-bottom: 2px; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.pick-list{border: 1px #e0e0eb; border-style: ridge;}

.selectedPickListItem {background-color: #0080ff !important; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: white !important; font-weight: bold;}
.selectedPickListItemDragAndDrop:hover {cursor: move;}

.selectedPickListItem:hover {background: -webkit-linear-gradient(bottom, #0066cc 20%, #0080ff 80%) !important;}
.pick-list-with-search{height: 230px !important;}
.pick-list-without-search{height: 260px !important;}
.search-input-pick-list {position: relative;}
.search-input-pick-list-in-grid-margin{margin-bottom: 10px;}
.search-input-pick-list .glyphicon {position: absolute; padding: 10px;pointer-events: none;}
.no-grid{border-style: ridge; border: 1px #e0e0eb;}
.item {	width: 100%; position: relative; cursor: pointer; color: black; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: flex;}
.item-no-border:active {background: #0080ff !important; color: white !important;}
.item-border{border: 1px solid #DAE2EA;}
.item:hover {background: #f0f0f5; color: #438EB9; border-color: #DCE2E8; font-weight: bold;}
.icon-position{border-right: 2px solid #DAE2EA; background-color: #f5f5f0;}
.icon-position i{vertical-align: middle;}
.selectedPickListItem .icon-position {background-color: #0039e6;}
.content-option{left: 0; text-align: left; padding: 1px 0 1px 10px; flex: 1;}		
.moving{background: #f5f5f0 !important; color: #438EB9; border-color: #DCE2E8; font-weight: bold; z-index: 2; }
.no-grid-body-pick-list{margin-top: 10px;}
.pick-list-no-grid-left{ margin-right: 20px; }
.pick-list-no-grid-right{ margin-left: 20px; }	
.no-grid-desc-pick-list{text-align: left;}
.no-grid-desc-pick-list span.titulo{display: block;}
.no-grid-desc-pick-list span.quantidadeRegistros{display: block;font-size: 0.9em;}
.oddPickListItem{background-color: white;}
.evenPickListItem{background-color: #f4f4ff;}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }		

.btn-pointer{
	cursor: pointer;
}
.borda-vermelha{border: 1px solid red;}

.progressBar{width: 100%; background-color:  #143d66;}
.progressBarCurrent{width: 0%; height: 30px; background-color: #236bb2;}

.redColor{color: red !important;}
.redBackGround{background: #f2dede 50% 50% repeat-x !important;}
.wid100{
  width: 100%;
}


h-field{
  padding: 2px;
}

.form-control{
  border-radius: 0px !important;
}

.hfield-form-error-value  {border: 1px solid #ff9393!important}

.h-field{
  padding-left: 0px;
  padding-right: 0px;
}


p-panelmenu {

    li {
      display: list-item;
      position: relative;
      
    }

    li.ativa > a {
      color: #4b88b7 !important;
    }

    li.ui-state-active > a {
      color: #4b88b7 !important;
    }

    li.ui-panelmenu.ui-menuitem{
      margin: 0 !important;
    }

    .ui-panelmenu-content{
      padding-top: 0 !important;
    }

    ui-panelmenu-header.ui-state-default.ui-corner-top{
      border-bottom: 1px #e5e5e5 solid !important;

    }

    .ui-panelmenu-icon.pi.pi-fw {
      
      float: right;
      margin-top: .2em;
      margin-right: -.1em;
    }
    
    .ui-menuitem-icon.fa {
      font-size: 18px !important;
      margin-top: .1em;
    }


    .ui-panelmenu-header-link {
      
      padding: .7em .7em .7em .9em  !important;
      color: #595959;
    }

    .ui-menuitem-text:hover {
      color: #2a6496 !important;
    }

    li.ui-menuitem:hover {
      color: #2a6496;
      background-color: #f1f5f9;
    }

    div.ui-panelmenu-content.ui-widget-content{
      margin-top: -2px;
      margin-bottom: -2px;
    }

    div.ui-panelmenu-header.ui-state-default {
      border: 0px;
      border-bottom: 1px #e5e5e5 solid !important;
      border-top: 1px #e5e5e5 solid !important;
    }

    div.ui-panelmenu-header.ui-state-default.ui-state-active > a {
      color:  #2a6496 !important;
      
    }

    ui-widget.ui-panelmenu-header.ui-state-default.ui-corner-top{
      border-bottom: 1px #e5e5e5 solid !important;
    }

    li .ui-menuitem.ui-corner-all {
      border-bottom: 1px #e5e5e5 dotted !important;
      border-left: 1px #4b88b7 dotted !important;
      margin: 0 !important;
      padding: .6em .1em .6em 1em  !important;
    }

    li.ui-menuitem.ui-corner-all {
      margin: 0 !important;
    }


    li .ui-menuitem.ui-corner-all a{
      color: #757575;
    }

  
    .ui-menuitem-text {
      padding: 0 .5em .5em .5em  !important;
      vertical-align: top;
    }

    .ui-panelmenu-header-link.ui-menuitem-text {
      padding: .5em .5em .5em .5em  !important;
      vertical-align: top;
    }

    .ui-panelmenu .ui-panelmenu-content {
      padding: 0 !important;
    }

    p-panelmenusub.ui-panelmenu-root-submenu {
      >ul>li::before {
        content: "";
        display: block;
        width: 7px;
        position: absolute;
        z-index: 1;
        top: 17px;
        border: 1px dotted #8eb3d0 ;
        border-width: 1px 0 0;
      }
    }

    p-panelmenusub.ui-panelmenu-root-submenu > .ui-submenu-list > .ui-menuitem > .ui-menuitem-link  {
      border-left: 1px dotted;
      border-bottom: 1px dotted;
      border-bottom-color: #e5e5e5;
      border-left-color: #8eb3d0;
      padding: .7em .7em .7em .4em ;
      left: 5px;
      color: #616161;
    }

    .ui-submenu-list > .ui-submenu-list > .ui-menuitem > .ui-menuitem-link  {
      border-left: 1px dotted;
      border-bottom: 1px dotted;
      border-color: #e5e5e5;
      padding: .6em .6em .6em 1em;
      left: 5px;
      color: #616161;
    }


    // .ui-submenu-list > .ui-menuitem > .ui-submenu-list{
    ul .ui-submenu-list{
      font-size: 8pt;
      
    }

    .ui-panelmenu-root-submenu > ul.ui-submenu-list{
      margin-left: 5px !important;
      
    }

    ul.ui-submenu-list{
      margin-left: 0 !important;
      
    }

    .pi-caret-down:before {
      content: "\e902" !important;
      font-size: 13px;
    }

    .ui-submenu-list .pi-caret-down:before {
      content: "\e902" !important;
      font-size: 11px;
    }


    .pi-caret-right:before {
      content: "\e902" !important;
      font-size: 13px;
    }

    .ui-submenu-list .pi-caret-right:before {
      content: "\e902" !important;
      font-size: 11px;
    }

    ul.ui-menuitem.ui-cornder-all{
      left: 5px!important
    }

    .ui-panelmenu-header.ui-state-active::after {
      display: block;
      content: "";
      position: absolute;
      right: -2px;
      top: -1px;
      bottom: 0;
      z-index: 1;
      border: 2px solid !important;
      border-width: 0 5px 0 0 !important;
      border-color: #2b7dbc !important;
    }

    .ui-state-active.ativa::after {
      content: "";
      border-bottom: 12px solid transparent; 
      border-right: 10px solid  #2b7dbc; 
      border-top: 12px solid transparent; 
      position: absolute;
      top: 4px;
      right: 0;
      display: block;
    }

    .ui-panelmenu-panel::before{
      display: none;
      content: "aaaa";
      position: absolute;
      top: -1px;
      left: 0;
      z-index: 1;
      height: 41px;
      width: 3px;
      max-width: 3px;
      overflow: hidden;
      background-color: #629cc9;
    }

    .ui-panelmenu-panel {
      position: relative;
    }
    
  }

  p-scrollPanel{
    .custom .ui-scrollpanel-bar:hover {
      background-color: #bbd4e5 !important; 
      opacity: 1; 
      transition: background-color .3s;
    }
    
    .ui-scrollpanel-bar-x{
      display: none;
    }

    .ui-scrollpanel-bar-y{
      border-right: 7px;
      background-color: #bbd4e5 !important;
    }
  }