<div class="hfield-label" fxFlex="{{columnSizeLabel}}">
    <span tooltip="{{errorMessage}}" [tooltipDisabled]="!hasError" [tooltipAnimation]="true" tooltipPlacement="left">
        <label [class.hfield-form-error-label]="hasError" for="{{idValue}}">{{label}}</label>
        <label *ngIf="required" class="required">*</label>
        <label> :</label>
    </span>
</div>
<div class="content-hfield" fxLayout="row" fxFlex="{{columnSizeValue}}">
    <span class="toolTip" tooltip="{{errorMessage}}" [tooltipDisabled]="!hasError" [tooltipAnimation]="true" tooltipPlacement="bottom">
        <ng-content></ng-content>
    </span>
</div>
