





.hfield-form-group .vfield-form-group {
	margin-top: 4px;
}

.hfield-info-row .vfield-info-row {border-top: 1px dotted #D5E4F1;}

.hfield-form-error-label {
  background-color: #ff9393;
}

.hfield-label{
  background-color: #EDF3F4;
  color: #667E99;
  text-align: right;
  background-color: #EDF3F4;
  padding-right: 2px;
  margin-right: 5px;
}


.content-hfield{
  width: 100%;
}

.toolTip{
  width: 100%;
}


.required{
  color: #ec6e6e;
}

