<div id="loginDiv" class="login-layout" style="background:#eee !important">

    <div style="position:absolute;right:20px;bottom:20px">
        <img src="assets/img/client-logo.png" style="width:150px" />
    </div>
    <div class="login-box visible widget-box no-border" style="position:absolute;top:40%;left:50%;transform:translate(-50%,-50%); max-width:375px; height:auto; padding:1px; background-color: #AAA!important; box-shadow: 1px 1px 3px #AAA;">
        <div class="widget-body no-border">

            <div class="widget-main" style="padding-bottom:10px" fxLayout="column" fxFlex="100" fxLayoutWrap>
                <img src="assets/img/login-logo.png" class="col-xs-10 col-xs-offset-1">
                <form [formGroup]="validationForm.form">
                    <fieldset>

                        <input type="text" class="form-control" 
                            name="username" formControlName="username" [(ngModel)]="username"
                            style="text-transform: uppercase !important;" 
                            placeholder="{{'LOGIN.FORM.FIELD.USERNAME' | translate}}" value="" />

                        <input type="password" class="form-control" 
                            name="password" formControlName="password" [(ngModel)]="password"
                            placeholder="{{'LOGIN.FORM.FIELD.PASSWORD' | translate}}" />


                        <div *ngIf="validationForm.errors.password.invalid" 
                            class="alert alert-danger" 
                            id="div-msginvalida">
                            {{'LOGIN.FORM.MESSAGE.ERROR.LOGIN' | translate}}
                        </div>

                        <button id="loginButton" type="submit" 
                            [disabled]="validationForm.form.invalid"
                            (click)="acessar($event)"
                            class="col-xs-12 btn btn-sm btn-primary" 
                            style="border-radius:4px;">
                            <i class="ace-icon fa fa-sign-in"></i> {{'LOGIN.FORM.ACTION.ACCESS' | translate}}
                        </button>
                    </fieldset>
                </form>
                <div class="row">
                    <div class="col-xs-12 text-center" style="padding:15px 0 20px 0; height:auto">
                        <i>{{'LOGIN.FORM.FIELD.WELCOME_MESSAGE' | translate}}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>